# Dev
bpython
isort
flake8
black
build
setuptools
wheel
cmake
meson-python
pybind11

# Dep
requests
tqdm
regex
numpy

html2text
markdown-it-py
opencv-python
pytesseract
python-magic
selenium

# Temporary fix for python-poppler issue #93 (https://github.com/cbrunet/python-poppler/issues/93)
python-poppler @ git+https://github.com/opale-ai/python-poppler.git@ca6678d
